/* Universal Styling */
html body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(13, 167, 128);
}

/* Universal Navbar */
.navbar-title {
    color: rgba(192, 190, 188, 0.87);
}

.navbar-title:hover {
    color: rgba(148, 235, 145, 0.87);
}

.offcanvas {
    background-color: rgb(43, 42, 42);
}

.offcanvas-title {
    color:azure;
    font-size: 200%;
}

.nav-link {
    font-size: 175%;
    margin-top: 3rem;
}

.first {
    margin-top: 5%;
}

/* Home */
.main {
    background-color: rgb(44, 126, 75);
}

.mainContent > p {
    font-size: 1.1rem;
    color: rgb(54, 54, 54);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.leftContainer {
    /* background-color: rgb(9, 97, 56); */
    background-image: linear-gradient(to right, rgb(173, 15, 15), rgb(23, 53, 189));
    margin-right: 5%;
}

.rightContainer {
    /* background-color: rgb(9, 97, 56); */
    background-image: linear-gradient(to left, rgb(173, 15, 15), rgb(23, 53, 189));
    margin-left: 5%;
}

.titleContainer {
    text-align: center;
}

.titleContainer:hover {
    cursor: default;
}

#welcomeMsg {
    color:white
}

#homeLine {
    border: none;
    opacity: 75%;
    border-top: 5px dashed black;
}

/* About */


/* Explanations */

.eTitle {
    font-size: 3rem;
    font-family: monospace;
    font-weight: 600;
    text-shadow: 2px 2px white;
}

.eFooter {
    font-size: 1.5rem;
    font-family: monospace;
    font-weight: 600;
    text-shadow: 2px 2px white;
}

.projectState {
    font-size: 2rem;
    font-family: monospace;
    font-weight: 600;
    text-shadow: 2px 2px rgba(232, 235, 85, 0.678);
    margin: 0;
}

#descriptor {
    font-size: 1rem;
    color: rgba(65, 65, 65, 0.777);
    margin: 0;
}

.contentContainer {
    background-color: rgb(33,37,41);
    color: white;
}

#contentHeader {
    color: #0d6efd;
}

#contentSubHeader {
    color: #0993a5; 
}

.scrollspy {
    height: 50em;
    overflow: auto;
    padding: 1%;
}

.project-link {
    margin-top: 1.5rem;
}

/* Branches */

#canvas {
    position: relative;
    top: 100px;
    left: 50px;
}

.switch-up {
    border: 2px solid;
    color: #FFF;
    background-color: rgb(3, 72, 163);
    text-align: center;
    font-size: 24px;
    padding: 20px 42px;
    position: relative;
    top: 80px;
    left: 100px;
    cursor: pointer;
    display: inline-block;
    box-shadow: inset 0 0 0 0 #0a7285;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.slide_in:hover {
    box-shadow: inset 0 0 0 50px #0a7285;
}

.slideContainer {
    width: 100px;
    position: relative;
    left: 1500px;
}

.slider {
    -webkit-appearance: none; /* Override default CSS styles*/
    appearance: none;
    width: 100%; /* full width */
    height: 25px; /* specified height */
    background: transparent; /* background color */
    outline: none; /* remove outline */
    opacity: 0.7; /* set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px;  /* slider handle width*/
    height: 25px; /* slider handle height*/
    background: #04AA6D; /* background color */
    cursor: pointer; /* cursor on hover */
}

/* May or may not need this (requires further testing) */
.slider::-moz-range-thumb {
    width: 25px;  /* slider handle width*/
    height: 25px; /* slider handle height*/
    background: #04AA6D; /* background color */
    cursor: pointer; /* cursor on hover */
}

#myRange {
    position: absolute;
    top: 30px;
    right: 30px;
}

#sliderSpeed {
    position: absolute;
    top: 50px;
    right: 65px;
    color: white;
}

#disclaimer {
    width: 180px;
    font-size: 10px;
    color: rgba(99, 96, 96, 0.884);
    position: absolute;
    top: 10px;
    right: -30px;
}

#bTitle {
    position: absolute;
    left: 40%;
    font-size: 4rem;
    background: -webkit-linear-gradient(right, rgb(134, 134, 134), rgb(0, 0, 0));
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

/* Popcorn */

#pTitle {
    font-size: 3rem;
    font-stretch: extra-expanded;
    cursor: default;
    background: -webkit-linear-gradient(right, rgb(134, 134, 134), rgb(0, 0, 0));
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

#pTitle:hover {
    font-size: 3.2rem;
    font-stretch: ultra-expanded;
    background: -webkit-linear-gradient(right, rgb(141, 47, 47), rgb(53, 12, 202));
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.score {
    font-size: 2rem;
    font-family: fantasy;
}

.scoreContainer {
    position: absolute;
    top: 8%;
    right: 10%;
}

#popcornCanvas {
    border-radius: 5px;
    background-color: rgb(209, 209, 209);
}

.canvasContainer {
    margin-top: 5%;
}


.countdownContainer {
    position: absolute;
    left: 45%;
    top: 40%;
}

#countdown {
    font-size: 7rem;
}

.gameOverContainer {
    position: absolute;
    left: 38%;
    top: 40%;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlayText{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

#overlayDisclaimer {
    position: absolute;
    top: 54%;
    left: 50%;
    font-size: 20px;
    color: rgb(201, 201, 201);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
  
.timerContainer {
    position: absolute;
    left: 10%;
    top: 8%;
}

.timer {
    font-size: 2.5rem;
    font-family: monospace;
}

/* .gameOver {
    font-size: 5rem;
    font-family: monospace;
} */

.hidden {
    display: none;
}

/* Dice */
.diceContainer {
    border: 4px solid blue;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 0%;
}

#dice {
    margin-top: 15%;
    font-size: 300%;
}

/* Bezier Curve */

.bezierContainer {
    /* width: 90vw; */
    /* position: fixed; */
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 5%;
    margin-right: 0;
}

#bezierCanvas {
    width: 40vw;
    border-radius: 5px;
    background-color: rgb(209, 209, 209);
}

.value {
    border: 2px solid black;
    background-color: rgb(27, 134, 223);
    justify-self: center;
    padding: 0.5em;
    cursor: default;
}

.btn-disabled {
    background-color: rgba(104, 18, 18, 0.5);
}

.temp {
    margin-top: 10%; 
}

/* Basics */

.basicTitle {
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: bolder;
}

.rng {
    background-color: rgb(33,37,41);
    color: white;
    height: 100%;
}

.max, .min {
    margin-bottom: 5%;
}

#minInput, #maxInput {
    width: 80%;
}

#result {
    font-size: 3rem;
    font-weight: 500;
    font-family: monospace;
}

#lOp {
    border: 2px solid black;
    border-radius: 0;
}

#lOp:hover {
    background-color:#410c5f;
    color: white
}

.calculator-btns {
    margin: 0;
    padding: 0;
}

.numDisplay {
    overflow-x: hidden;
}

/* Hangman */

.letterBtn {
    border: 2px solid black;
    border-radius: 30%;
    background-color: rgba(143, 15, 136, 0.664);
    color: rgb(162, 255, 41);
    margin-right: 1em;
    margin-top: 1em;
}

.letterBtn:hover {
    background-color: rgba(253, 237, 10, 0.664);
    color: black;
}

#letterDisplay { 
    background-color: rgb(41, 40, 40);
    border-radius: 10%;
}